<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ChannelID</key>
		<string>13</string>
		<key>title</key>
		<string>推荐</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>0</string>
		<key>title</key>
		<string>商业头条</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>1</string>
		<key>title</key>
		<string>热点事件</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>2</string>
		<key>title</key>
		<string>新一线</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>3</string>
		<key>title</key>
		<string>周围Surrounding</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>4</string>
		<key>title</key>
		<string>金字招牌</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>5</string>
		<key>title</key>
		<string>Points观点</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>6</string>
		<key>title</key>
		<string>Business+</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>7</string>
		<key>title</key>
		<string>封面故事</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>8</string>
		<key>title</key>
		<string>大公司</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>9</string>
		<key>title</key>
		<string>快公司</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ChannelID</key>
		<string>10</string>
		<key>title</key>
		<string>职场&amp;公司人</string>
		<key>Index</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
