<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBNMagazine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38C29A181D13B8CF0061C0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38C29A311D13B8CF0061C0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38C29A3C1D13B8CF0061C0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
